# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/

# ML artifacts and datasets
ml_model/training_data/
*.keras
*.h5
*.onnx
*.tflite
!ml_model/models/model.tflite
!ml_model/models/model_11class_baseline.tflite
!ml_model/models/model_17class.tflite
database/data/*.sqlite

# OS and IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
